/* Variaveis */
$cinza-claro: #666666b9;
$cinza-escuro: #383737;
$sombra: 0.2rem 0.2rem 1rem #0000001a;
$azul: #0090f7;
$azul-hover: #02548e;
$borda: #3333337e; 
$azul-claro: #8da8f9;
$branco: #ffffff;
$azul-hover-escuro: #4f5e8a;
$vermelho-claro: #ffeaea;
$vermelho-escuro: #c00;

/* Geral */
.container {
    margin: 2% 5%;
}

/* Navegação */
.navegar a, span{
    text-decoration: none;
    color: $cinza-claro;
    font-size: small;
    font-weight: 500;
}

.navegar a:hover{
    color: $cinza-escuro;
}

.atual {
    color: $cinza-escuro;
}

/* Formulario */
.formulario {
    border-radius: 5px;
    box-shadow: $sombra;
    line-height: 2; 
    width: 100%;  
}

.barra {
    background-color: $azul-claro;
    border-radius: 5px 5px 0 0;
}

.barra h2 {
    margin-left: 2%;
    color: $branco;
}

.campos {
    padding: 0 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 15px; 
}

label {
    font-weight: bold;
    max-width: 90%;
    font-size: 1.5rem;
}

label, input, textarea {
    display: block;
    width: 100%;
}

input, textarea {
    padding: 0.5rem;
    border: 1px solid $borda;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

input[type="text"], input[type="url"] {
    width: 100%;
}

input::placeholder,
textarea::placeholder {
    font-family: 'Open Sans', sans-serif;
}

textarea {
    width: 100%;
    height: 15rem;
    resize: vertical;
}

/* botoes */
.botoes {
    display: flex;
    gap: 10px;
    margin-top: 1rem;
}

.cancel, .enviar {
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;    
}

.cancel {
    color: $cinza-escuro;
}

.enviar {
    background-color: $azul-claro;
    color: $branco;
}

.cancel:hover{
    background-color: $cinza-claro;
    transition: background-color 0.3s;
}

.enviar:hover {
    background-color: $azul-hover-escuro;
    color: $branco;
    transition: background-color 0.3s;
}

/* Header */
.barraNav {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: $cinza-escuro;
    padding: 1rem 2rem; 
    color: $branco;
    box-shadow: $sombra; 
}
  
.barraNav h1 {
    margin: 0; 
    font-size: 1.8rem; 
    font-weight: bold; 
    letter-spacing: 1px; 
}

/* Mensagem de Erro - campo obrogatorio */
.erro {
    background-color: $vermelho-claro;
    color: $vermelho-escuro;
    padding: 5px 10px;
    border-radius: 4px;
    margin: 4px 0 10px;
    font-size: 0.85rem;
  }

/* Telas pequenas */
@media (max-width: 900px) {
    /* Header */
    .barraNav {
        padding: 1rem;
    }

    .barraNav h1 {
        font-size: 1.5rem; 
    }
}