<main class="container">
        <section class="resultado">
            <h1>Exibindo resultado de busca por "Covid-19"</h1>
            <p>Encontramos um total de 20 resultados para sua busca</p>
        </section>

        <section class="conteudo">

            <div class="cards">

                <article class="card" *ngFor="let post of posts">
                  <img [src]="post.image" alt="Imagem da notícia">
                  <div class="texto">
                    <h2>{{ post.title }}</h2>
                    <p>{{ post.body }}</p>
                    <a href="#">Ler mais</a>
                  </div>
                </article>

            </div>
              
            
            <aside class="sidebar">
                <div class="categoria">
                    <h5>Categorias</h5>
                    <ul>
                        <li>Lorem ipsum dolor</li>
                        <li>Lorem ipsum dolor</li>
                        <li>Lorem ipsum dolor</li>
                        <li>Lorem ipsum dolor</li>
                    </ul>
                </div>

                <div class="busca">
                    <h5>Procurando alguma notícia?</h5>
                    <div class="caixaTexto">
                        <input type="text" placeholder="Pesquisar por...">
                        <span class="icon">
                            <a href="#" class="imgIcon">
                                <img src="assets/icon-search.png" alt="Icone Procurar" >
                            </a>
                        </span>
                    </div>
                </div>
            </aside>
        </section>
    </main>