<header>
  <nav class="barraNav">
    <div>
      <h1>Notícias</h1>
    </div>
  </nav>
</header>

<main class="container">

  <ng-container *ngIf="post; else erro">
    <section>
      <div class="navegar">
        <a [routerLink]="['']">
          ᐊ Resultados da Busca </a>
        <span> / </span>
        <span class="atual"> Detalhes da Notícia</span>
      </div>
    </section>
    
    <article class="conteudo"> 
      <section class="titulo">
          <div class="info">
            <h1>{{ post.title }}</h1>
            <p class="info">{{post.createdAt | date:'medium'}}</p>
          </div>
      </section>
  
      <section class="template">
        <div class="imagem">
          <img [src]="post.image" [alt]="'Imagem da notícia ' + post.title">
        </div>
      </section>
  
      <section class="texto">
        <div>
          <p>{{ post.body }}</p>
        </div>  
      </section>

      <hr>

      <section class="compartilhar">
        <div class="botoes">
          <span>Compartilhar: </span>
          <a href="#" class="icon">
            <img src="assets/instagram.png" alt="Compartilhar">
          </a>
          <a href="#" class="icon">
            <img src="assets/facebook.png" alt="Compartilhar">
          </a>
          <a href="#" class="icon">
            <img src="assets/twitter.png" alt="Compartilhar">
          </a>
          <a href="#" class="icon">
            <img src="assets/whatsapp.png" alt="Compartilhar">
          </a>
        </div>
      </section>

    </article>

    <section class="relacionadas">
      <h2>Notícias relacionadas</h2>

      <div class="cards">
        <article class="card" *ngFor="let post of posts">
          <div class="imagemRel">
              <img [src]="post.image" alt="Imagem da notícia">
          </div>
          <div class="textocard">
              <h2>{{ post.title }}</h2>
              <p>{{ post.body | slice:0:150 }}...</p>
              <a [routerLink]="['/detalhes', post.id]">Ler mais</a>
          </div>

          <hr>
          
        </article>
        
      </div>
    </section>

  </ng-container>

  <ng-template #erro>
    <p>Post não encontrado.</p>
  </ng-template>

</main>
